@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-left">
    <h2>Acceso a controladores y sus vistas </h2>
    <a href="\Uno">Controlador Uno</a>
    <br />
    <a asp-controller="Dos" asp-action="Index">Controlador Dos</a>
    
</div>