@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h3>Proyecto Final</h3>
    <p><u>Grupo Intel Y Gentes</u></p>
    <p>Integrantes</p>
    <p>Carlos Almaraz Escobar</p>
    <p>Carlos Javier Murgia Ayo</p>
    <p>Jhonatan Jhimy Condori Apaza</p>
    <img src="~/images/logo-universidad.png" width="100" height="100" />
</div>

@*<div class="text-left">
    <h2>Acceso a controladores y sus vistas </h2>
    <a href="\Uno">Controlador Uno</a>
    <br />
    <a asp-controller="Dos" asp-action="Index">Controlador Dos</a>
    
</div>*@