@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<dl class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <dt>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
        </dt>
        <dt >
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </dt>
        <dt>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit">Logout</button>
            </form>
        </dt>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <dt>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </dt>
    }
</dl>
